﻿<h2>Buscador de Obras de arte</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResultadoDeBusqueda">

            <div class="form-group">
                <label for="PalabraBuscada" class="control-label"></label>
                <input name="PalabraBuscada" class="form-control" placeholder="Ingresar nombre de la obra" />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


