﻿@model SugartwebApp.Models.Art

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar obras de arte</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="artTitle" class="control-label">Titulo de la obra</label>
                <input asp-for="artTitle" class="form-control" placeholder="Ingrese titulo o nombre de la obra"/>
                <span asp-validation-for="artTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artValue" class="control-label">Valor de la obra</label>
                <input asp-for="artValue" class="form-control" placeholder="ingrese precio de la obra"/>
                <span asp-validation-for="artValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" style="width:100%" id="create"/>   
                <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
