﻿@model SugartwebApp.Models.Art

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar obra de arte</h1>
<h3 class="text-danger">Aviso : Esta accion eliminara las obras de arte permanentemente!</h3>
<div>

    <dl class="row">
        <dt class="col-sm-2">
            Titulo de la obra
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.artTitle)
        </dd>
        <dt class="col-sm-2">
            Precio de la obra
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.artValue)
        </dd>
    </dl>
    <hr />
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="artId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" style="width:100%" />
        <hr />
        <a asp-action="Index" class="btn btn-dark" style="width:100%">Volver atras</a>
    </form>
</div>
