﻿@model SugartwebApp.Models.Art

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de la obra de arte</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Titulo de la obra :
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artTitle)
        </dd>
        <dt class = "col-sm-2">
            Valor de la obra
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.artValue)
        </dd>
    </dl>
</div>
<hr />
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.artId" class="btn btn-danger" style="width:100%">ir a editar </a> 
    <hr />
    <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
</div>
 