﻿@model IEnumerable<SugartwebApp.Models.Art>

@{
    ViewData["Title"] = "Index";
}

<h1>Obras de arte disponibles en el sistema</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.artTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.artValue)
                </td>
            </tr>
        }
    </tbody>
</table>
