﻿@model IEnumerable<SugartwebApp.Models.Art>

@{
    ViewData["Title"] = "Index";
}

<h1>Panel de control - Obras de arte</h1>
<h4>Obras de arte ingresadas en el sistema</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Titulo de la obra
            </th>
            <th>
                Valor de la obra
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.artTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.artValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.artId" class="btn btn-danger">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.artId" class="btn btn-danger">ver mas</a> |
                    <a asp-action="Delete" asp-route-id="@item.artId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<hr />
<a asp-action="Create" class="btn btn-danger" style="width:100%">Agregar una nueva obra de arte</a>
