﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Bienvenido a Sugart.cl 🖼</h1>
            <p>Aplicacion creada para el mantenimiento de data</p>
        </div>

        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/art1.jpg" alt="Los Angeles" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>sugart.cl</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/art2.jpg" alt="Chicago" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>sugart.cl</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/art3.jpg" alt="New York" width="1100" height="500">
                    <div class="carousel-caption">
                        <h3>sugart.cl</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

    </div>

</div> 

