﻿@{
    ViewData["Title"] = "Admin";
}

<div class="jumbotron">
    <h1>Bienvenido Administrador</h1>
    <p>Selecciona lo que deseas gestionar:</p>

    <hr />
    <h2>Emails recibidos en la plataforma</h2>
    <br />
    <a class="btn btn-danger" style="width:100%" asp-area="" asp-controller="Emailcs" asp-action="Index">Ver emails</a>
    <hr />
</div>

<div class="card" id="card1" style="width:400px">
    <img class="card-img-top" src="~/img/Arts card.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title"> Administrar obras de arte </h4>
        <a class="btn btn-danger" style="width:100%" asp-area="" asp-controller="Arts" asp-action="Index">Administrar</a>
    </div>
</div>

<div class="card" id="card2" style="width:400px">
    <img class="card-img-top" src="~/img/Artist card.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title"> Administrar Artistas </h4>
        <a class="btn btn-danger" style="width:100%" asp-area="" asp-controller="Artists" asp-action="Index">Administrar</a>
    </div>
</div>
