﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Sobre Sugart 🖼</h1>

<p>
    Una obra de arte es un portal, capaz de abrir planos infinitos: no solo logra conectarnos con el artista que la hizo, sino con nosotros mismos, con lo que vemos en ella. Con perspectivas y miradas del mundo, que abren nuestra mente. Con estados de contemplación, con nuevas conversaciones, con nuevos espacios. Con nuevos aires.

    Para Sugart, el arte mejora la calidad de vida; el arte, en realidad, es el secreto que enciende el vivir. Como una piedra filosofal, es en una obra de arte donde puede estar la respuesta. Y esto no es para unos pocos, para los entendidos, o para los refinados. Es para todos: porque el arte es vital. Y si por años las obras de arte parecían estar lejanas y quienes querían adquirirlas no necesariamente sabían dónde poder hacerlo, hoy Sugart se plantea como un puente que las acerca.

    Hay una obra aquí, que te habla precisamente a ti. Atrévete. La llevaremos a la puerta de tu casa.
</p>

<hr />

<h2 class="text-danger">Aspectos generales</h2>
<p>
    Bienvenido a SUGART. En esta página junto con contarte quienes somos y que hacemos, te mostraremos los Términos y Condiciones que regulan el acceso a nuestro sitio sugart.cl y su uso por parte de todos los usuarios o consumidores.

    Nuestras oficinas y talleres se ubican en Tegualda 1352, Barrio Italia, Providencia, Santiago, Chile.

    En este sitio podrás usar sin costo alguno, nuestro software con el fin de visitar y adquirir si lo deseas, las obras de artes que tenemos para ti. Te recomendamos leerlos atentamente para que saber en qué consisten y no tengas dudas para navegar o comprar con nosotros.

    El acceso y uso del sitio web sugart.cl (el “Sitio”), de propiedad de Sugart, se rige por estos Términos y Condiciones, así como por la legislación que se aplique en la República de Chile, especialmente las que protegen los derechos de los consumidores. En consecuencia, todas las visitas y todos los contratos y transacciones que se realicen en este Sitio, como asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a esa legislación. Asimismo se señala que estos Términos y Condiciones podrán variar de tiempo en tiempo. Dichas modificaciones producirán sus efectos desde el momento de su publicación en el Sitio.

    El cliente del Sitio (el “Usuario”) debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones así como en las Políticas de Privacidad, como en los demás documentos incorporados a los mismos por referencia, antes de registrarse en Sugart.

    Al acceder, consultar o utilizar el Sitio Web, los Usuarios aceptan cumplir los términos y condiciones establecidos en este Contrato. En caso de que usted no acepte quedar vinculado por los presentes términos y condiciones, no podrá acceder ni utilizar el Sitio Web.

    Los Términos y Condiciones contenidos en este instrumento se aplicarán y se entenderán formar parte de todos los actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y comercialización comprendidos en este Sitio.

    En caso de que las empresas proveedoras de Sugart hubieran fijado sus propios términos y condiciones para los actos y contratos que realicen en este Sitio, dichos términos y condiciones aparecerán en esta página señaladas con un link y prevalecerán sobre éstas.

    El presente Sitio Web está dirigido exclusivamente a personas residentes en Chile. Los Usuarios residentes o domiciliados en otro país que deseen acceder y utilizar el Sitio Web, lo harán bajo su propio riesgo y responsabilidad, por lo que deberán asegurarse de que dichos accesos y/o usos cumplen con la legislación aplicable en su país.

    sugart.cl se adhiere en todas sus partes al Código de Buenas Prácticas para el Comercio Electrónico de la Cámara de Comercio de Santiago, el cual se encuentra disponible aquí.
</p>