﻿@model SugartwebApp.Models.Emailcs

@{
    ViewData["Title"] = "Create";
}

<h1>Formulario de contacto Sugart®</h1>

<h4>Hablanos al mail y te responderemos a la brevedad !</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="emailFrom" class="control-label">Su correo :</label>
                <input asp-for="emailFrom" class="form-control" placeholder="ingrese su mail" />
                <span asp-validation-for="emailFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailSubject" class="control-label">Asunto</label>
                <input asp-for="emailSubject" class="form-control" />
                <span asp-validation-for="emailSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailBody" class="control-label">Mensaje</label>
                <textarea asp-for="emailBody" class="form-control" rows="3" cols="15"></textarea>
                <span asp-validation-for="emailBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailTo" class="control-label"></label>
                <input asp-for="emailTo" class="form-control" value=""cristian.andres.dev.send.mail@gmail.com""/>
                <span asp-validation-for="emailTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
