﻿@model SugartwebApp.Models.Emailcs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emailcs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.emailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
