﻿@model IEnumerable<SugartwebApp.Models.Emailcs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.emailFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emailFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.emailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.emailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.emailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
