﻿@model SugartwebApp.Models.Artist

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar nuevo artista</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="artistName" class="control-label">Nombre del artista</label>
                <input asp-for="artistName" class="form-control" placeholder="ingrese nombre" />
                <span asp-validation-for="artistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="artistCountry" class="control-label">Pais de origen</label>
                <input asp-for="artistCountry" class="form-control" placeholder="ingrese el pais del artista" />
                <span asp-validation-for="artistCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" style="width:100%" id="create" />
                <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
