﻿@model SugartwebApp.Models.Artist

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Artista</h1>
<h3 class="text-danger">Aviso : Esta accion eliminara los artistas permanentemente!</h3>
<div>
    <h4>Artist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombere del artista :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.artistName)
        </dd>
        <dt class="col-sm-2">
            Pais de origen :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.artistCountry)
        </dd>
    </dl>
    <hr />
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="artistId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" style="width:100%" />
        <hr />
        <a asp-action="Index" class="btn btn-dark" style="width:100%">Volver atras</a>
    </form>
</div>
