﻿@model SugartwebApp.Models.Artist

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del artista</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre del artista :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.artistName)
        </dd>
        <dt class="col-sm-2">
            Pais de origen :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.artistCountry)
        </dd>
    </dl>
</div>
<hr />
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.artistId" class="btn btn-danger" style="width:100%">ir a editar </a>
    <hr />
    <a asp-action="Index" class="btn btn-dark" style="width:100%">volver atras</a>
</div>
