﻿@model IEnumerable<SugartwebApp.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Panel de control - Artistas</h1>
<h4>Artistas ingresados en el sistema</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del artista
            </th>
            <th>
                Pais de origen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.artistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.artistCountry)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.artistId" class="btn btn-danger">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.artistId" class="btn btn-danger">ver mas</a> |
                    <a asp-action="Delete" asp-route-id="@item.artistId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-danger" style="width:100%">Agregar un nuevo artista</a>
